<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Latest news </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<!--<div *ngFor="let item of News" let myIndex = index>
  {{myIndex}}
</div>-->

 <ion-list *ngFor="let item of News">
  <ion-item>
    <ion-thumbnail item-left>
      <img src="http:{{item.featured_image}}">
    </ion-thumbnail>
    <h2>{{item.news_title}}</h2>
    <p>{{item.news_sdesc}}</p>
    <button ion-button clear item-right>View News</button>
  </ion-item>
</ion-list>

  <!--<h3>Welcome to your first Ionic app!</h3>

  <p>
    This starter project is our way of helping you get a functional app running in record time.
  </p>
  <p>
    Follow along on the tutorial section of the Ionic docs!
  </p>
  <p>
    <button ion-button color="primary" menuToggle>Toggle Menu</button>
  </p>-->

</ion-content>
